__pycache__/
*.pyc
*.pyo

# Evennia runtime (don't version these)
server/logs/
server/db/
server/.cache/
*.sqlite3
*.db

# Virtual environments
.venv/
venv/

# Editor/OS
.vscode/
.idea/
.DS_Store

# Databases
*.db3
