anything==0.2.1
asgiref==3.12.1
attrs==26.1.0
autobahn==20.12.3
automat==25.4.16
black==26.5.1
cffi==2.1.1
click==8.4.2
constantly==23.10.4
cryptography==50.0.0
django==6.0.8
django-classy-tags==4.1.0
django-filter==25.2
django-sekizai==2.0.0
djangorestframework==3.16.1
evennia==6.1.0
hyperlink==21.0.0
idna==3.19
incremental==24.11.0
inflect==7.5.0
inflection==0.5.1
isort==8.0.1
lunr==0.7.0.post1
mock==5.2.0
model-mommy==2.0.0
more-itertools==11.1.0
mypy-extensions==1.1.0
packaging==26.3
parameterized==0.9.0
pathspec==1.1.1
pip==26.2
platformdirs==4.11.3
pycparser==3.0
pytokens==0.4.1
pytz==2026.3.post1
pyyaml==6.0.3
setuptools==83.0.0
simpleeval==1.0.5
sqlparse==0.6.0
twisted==24.11.0
txaio==26.6.1
typeguard==4.6.0
typing-extensions==4.16.0
tzdata==2026.3
uritemplate==4.1.1
zope-interface==8.6
